@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    
    margin-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #6f6f6f;
    font-size: 14px;
    background-color: #fafafa;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 80px;
    background-color: #1a1a1a;
    border-top: 4px solid #343434;
    color: #666;
    font-size: 13px;
    text-shadow: 1px 1px #000000;
    padding-top: 10px;
    line-height: 150%;
    /*background: url(images/footerbg.png) no-repeat scroll center center #6177a0;*/
    
    margin-top: 20px;
    text-align: center;
}
.copy {
    margin-top: 10px;
    display: inline-block;
}
.footersplit {
    border-left: 1px dotted #707070;
    min-height: 90px;
}
.footer a:link,
.footer a:active,
.footer a:visited {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    color: #FEFEFE;
    text-decoration: none;
}
#main a:link,
#main a:active,
#main a:visited {
    color: #F58307!important;
    text-decoration: none;
}
#main a:hover {
    color: #000000!important;
    text-decoration: none;
}


#main a:hover i {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}

.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.prenav {
    height: 30px;
    background-color: #F8F8F8;
    font-weight: 500;
    padding-top: 6px;
    /*background: url(images/prenavbg.png) no-repeat scroll left center #4d5f80;*/
}
.prenav a:link,
.prenav a:active,
.prenav a:visited {
    color: #8e8e8e;
    text-decoration: none;
}
.prenav a:hover {
    color: #d0d0d0;
    text-decoration: none;
}
.navbar {
    margin-bottom: 0px!important;
    border-bottom: 0px!important;
    background-color: #FFFFFF!important;
}
.subnav {
    height: auto;
    margin-bottom: 20px;
    background-color: #F58307;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.subnav h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #FFFFFF!important;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.homeico {
    padding: 20px;
    margin: 20px 0;
}
.homeico i {
    color: #CCCCCC;
}

/*.homeico i:hover {
  -webkit-animation: pulse 0.5s 1 ease-in-out;
  animation: pulse 0.5s 1 ease-in-out;
}*/


.navbar-default {} .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    border-bottom: 4px solid #FFFFFF;
    color: #F58307!important;
    background-color: #FFF;
    border-bottom: 4px solid #F58307;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-toggle {
    margin-top: 24px;
    border-color: #F58307!important;
}
.icon-bar {
    background-color: #F58307!important;
}
/* Animated Menu Icon*/

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}
.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent!important;
    ;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}
.prenav i {
    margin: 0px 10px;
}
.footer i {
    margin: 0px 4px;
}
h3 {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 10px;
}
#main {
    border: 1px solid #d8d8d8;
    background-color: #FFF;
    border-radius: 5px;
}
#main>h1>.controls {
    display: inline-block;
    float: right;
    font-weight: normal;
    text-transform: none;
}
#main>h1>.controls>span {
    display: inline-block;
    padding: 0 10px;
    color: #d8d8d8;
}
#main h1 {
    border-bottom: 1px solid #d8d8d8;
    margin: 1px -16px 14px -16px;
    padding: 10px 20px;
    color: #6f6f6f!important;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
}
#main h2 {
    color: #F58307!important;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 10px 0 30px 0;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
h1 {
    color: #333!important;
    font-size: 18px;
    font-weight: bold;
}
h2 {
    color: #333!important;
    font-size: 18px;
    font-weight: bold;
}
.btn-custom {
    background-color: #F58307;
    border-color: #F58307;
    color: #FFF!important;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-decoration: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 14px;
    padding-top: 8px;
    min-width: 100px;
}
.btn-center {
    margin: 0 auto;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #ee9e46;
    border-color: #F58307;
    color: #FFF;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #F58307;
    border-color: #F58307;
}
.navbar-footer {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar-footer li {
    display: inline;
}
.navbar-footer a {
    display: inline-block;
    padding: 0 10px;
}
.form-control:focus {
    border-color: #F58307;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(245, 131, 7, 0.5);
}
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
#main .modal a:link,
#main .modal a:active,
#main .modal a:visited {
    color: #FFFFFF!important;
}
#main .modal a:hover {
    color: #000000!important;
}
.label-park {
    background-color: #303357;
    width: 40px;
    display: inline-block;
}
.checkininfo {
    padding: 10px;
    background-color: #f0f0f0;
}
.checkininfo span {
    font-size: 20px;
}
.checkinpayinfo {
    padding: 6px;
    margin-top: -16px;
    background-color: #303357;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.checkinrow {
    padding: 10px;
    border-top: 1px solid #d8d8d8;
}
.checkedin {
    background-color: #dff0d8;
}
.absent {
    background-color: #FFF;
}
.absent:hover {
    background-color: #f2f2f2;
}
#checkingroup {
    margin: 12px;
}
#checkingroup a,
#checkingroup a:active,
#checkingroup a:visited,
#checkingroup a:link {
    color: #F58307!important;
}
#checkingroup a:hover {
    color: #000!important;
}
.checkedin .name {
    color: #6f6f6f!important;
}
.name i {
    margin: 0 10px 0 -10px;
}
.checkedin .status {
    color: #6f6f6f!important;
}
th span {
    font-weight: normal;
    font-size: 12px;
}
#homenav a,
#homenav a:link,
#homenav a:active,
#homenav a:visited {
    color: #6f6f6f!important
}
#homenav a:hover {
    color: #000!important;
    display: inline-block;
}

#homenav a:hover i{
  -webkit-animation: pulse 0.5s 1 ease-in-out;
  animation: pulse 0.5s 1 ease-in-out;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

    .logo {
        padding-top: 8px;
        width: 240px!important;
        width: auto;
    }

    .navbar-toggle{
        margin: 14px;
    }

@media (max-width: 550px) {
    .subnav h1 {}
    /* margin-top: 4px;*/
}

@media (min-width: 768px) and (max-width: 992px) {} @media (min-width: 768px) {
    .logo {
        padding-top: 20px;
        height: 68px!important;
        width: auto;
    }
    .nav>li>a {
        padding: 36px 10px;
        color: #777!important;
        border-bottom: 4px solid #FFFFFF;
        transition: 400ms;
        font-size: 13px;
        text-transform: uppercase;
    }
    .navbar-default .navbar-nav>.current-menu-item>a,
    .navbar-default .navbar-nav>.current-menu-item>a:hover,
    .navbar-default .navbar-nav>.current-menu-item>a:focus {
        border-bottom: 4px solid #F58307;
        color: #F58307!important;
        background-color: #FFFFFF!important;
        transition: 400ms;
    }
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        border-bottom: 4px solid #F58307;
        color: #F58307!important;
        transition: 400ms;
    }

    #classChart{

    }
}

@media (min-width: 992px) {
    .nav>li>a {
        padding: 36px 20px;
        color: #777!important;
        border-bottom: 4px solid #FFFFFF;
        transition: 400ms;
    }
    .prenav {
        /*background: url(images/prenavbg.png) no-repeat scroll center center #4d5f80;*/
    }
    .subnav {}
}