<include href="header.html" />
<h1>Add attendance for {{ @class['name'] }} - Week {{ @week }}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Payment type</th>
        <th>Payment Amt</th>
        <th>Payment notes</th>
      </tr>
    </thead>
    <tbody>
	<repeat group="{{ @attendance }}" value="{{ @item }}">
		<form action="{{@BASE}}/attendance" method="post">
			<input type="hidden" name="class_id" value="{{ @class['id'] }}">
			<input type="hidden" name="week" value="{{ @week }}">
			<input type="hidden" name="member_id" value="{{ @item['mid'] }}">
		      <tr>
		      	<td>{{ trim(@item['mfirstname']) }} {{ trim(@item['mlastname']) }}</td>
		        <td>
		        	<select name="payment_type">
		        		<option value="paypal">PayPal</option>
		        		<option value="cash">Cash</option>
		        	</select>
		        </td>
		        <td><input type="number" name="payment_amt" min="0" step="any"></td>
		        <td><input type="text" name="payment_details"></td>
		        <td><input type="submit"></td>
		      </tr>
	      </form>
	</repeat>

    </tbody>
  </table>
<h1>Current attendees</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Payment type</th>
        <th>Payment notes</th>
      </tr>
    </thead>
    <tbody>
	<repeat group="{{ @attendees }}" value="{{ @item }}">
	      <tr>
	      	<td>{{ trim(@item['mfirstname']) }} {{ trim(@item['mlastname']) }}</td>
	        <td>{{ trim(@item['payment_type']) }}</td>
	        <td>{{ trim(@item['payment_details']) }}</td>
	      </tr>
	</repeat>

    </tbody>
  </table>
<include href="footer.html" />
