<include href="header.html" />
<h1><i class="fa fa-list" aria-hidden="true"></i> Attendance for {{ @class['name'] }} - Week {{ @week }}</h1>
<div id="memberslist">
<!-- class="search" automagically makes an input a search field. -->
<div class="input-group col-md-3">
  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
  <input class="search form-control" placeholder="Search by name" />
</div>
<br>
<div id="checkingroup" class="list">
<repeat group="{{ @attendance }}" value="{{ @item }}">

<check if="{{isset(@checkedin[@item['member_id']])}}">
	<true>
		<a href="#" data-toggle="modal" 
		data-target="#checkinremove"
		data-classtype="fixed" 
		data-classid="{{@class['id']}}" 
		data-week="{{ @week }}"
		data-date="{{ @date }}"
		data-id="{{ @checkedin[@item['member_id']] }}"
		data-amt="{{ @checkedinamt[@item['member_id']] }}"
		data-membername="{{ @item['membername'] }}"
		>
		<div class="row">
		<div class="col-xs-12 checkinrow checkedin">
		<div class="col-xs-7 col-md-10"><span class="name"><i class="fa fa-check" aria-hidden="true"></i> {{ @item['membername'] }}</span> 
		</div>
		<div class="col-xs-5 col-md-2 text-right status">
		Signed In
		</div>
		</div>
		</div>
		</a>
	</true>

	<false>
		<a href="#" data-toggle="modal" 
		data-target="#payg" 
		data-classid="{{@class['id']}}" 
		data-classtype="fixed" 
		data-week="{{ @week }}" 
		data-date="{{ @date }}"
		data-membername="{{ @item['membername'] }}" 
		data-memberid="{{ @item['member_id'] }}"
		data-totalpaid="{{ @item['totalpaid'] }}"
		data-payment_type="{{ @item['payment_type'] }}"
		data-paymentpresentation="{{ @item['payment_type']=='payg' ? 'Cash / PAYG' : 'Direct Debit' }}"
		data-balance="{{ number_format(@class['cost']-@item['totalpaid'],2) }}"
		>
		<div class="row">
		<div class="col-xs-12 checkinrow absent">
		<div class="col-xs-7 col-md-10"><span class="name"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ @item['membername'] }}</span> 
		</div>
		<div class="col-xs-5 col-md-2 text-right status">
		Check In
		</div>
		</div>
		</div>
		</a>
	</false>
</check>
</repeat>
</div>
</div>
<div class="text-center">
<i>{{ @checkedintotal}} out of {{@classtotal}} members are present.</i>
<br><br>
</div>
<script type="text/javascript">
var options = {
  valueNames: [ 'name' ]
};

var userList = new List('memberslist', options);
</script>

<include href="checkinmodal.html" />
<include href="footer.html" />