<include href="header.html" with="submenu=attendance"/>

<h1><i class="fa fa-list-alt" aria-hidden="true"></i> Modify Attendance</h1>
Please select the ongoing class name &amp; date that you would like to modify attendance for.<br><i>Fixed term classes can be changed by clicking the session number on the attendance overview page.</i><br><br>
<form method="POST" action="{{@BASE}}/attendance/retro" name="retro">
<div class="col-md-4">
<div class="form-group">
<label>Class</label>
<select name="classid" class="form-control">
<option value="" disabled selected>Please select</option>
<repeat group="{{ @classes }}" value="{{ @item }}">
<check if="{{ @item.type=='ongoing' }}">
<option value="{{ @item['id'] }}">{{ @item['name'] }}</option>
</check>
</repeat>
</select>
</div>

<div class="form-group">
<label>Attendance Date</label>
<div class="input-group">
<input name="date" value="{{date('d/m/Y')}}" class="form-control datepicker" data-date-format="dd/mm/yyyy" placeholder="Unknown">
<span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
</div>
</div>
</div>

<div class="form-group col-md-12">
<input type="submit" value="Edit Attendance" class="btn btn-default btn-custom">
</div>
</form>

<script type="text/javascript">
var validator = new FormValidator('retro', [
{
name: 'classid',
display: 'Class ID',
rules: 'required'},
{
name: 'date',
display: 'Date',
rules: 'required'}
],
function(errors, event) {
    if (errors.length > 0) {
        var message='';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            message+=errors[i].message + '<br>';
        }

        errormodal(message);
    }
});
</script>

<include href="errormodal.html" />
<include href="footer.html" />
