<include href="header.html" />
<h1><i class="fa fa-list-alt" aria-hidden="true"></i> Class Report for {{@classdetails['name']}}
<div class="controls">
<a href="{{@BASE}}/reports/export/{{@classdetails['id']}}"><i class="fa fa-download" aria-hidden="true"></i> Download Report</a>
</div>
</h1>
Attendance &amp; financial report for {{@classdetails['name']}}.
<br><br>
<table cellspacing="0" class="table table-striped table-bordered">
<thead>
<tr>
<th>Member</th>
<th>Payment Type</th>
<loop from="{{ @i=1 }}" to="{{ @i <= @sessionsnum }}" step="{{ @i++ }}">
<th colspan="2"><a href="{{@BASE}}/attendance/{{@PARAMS.class_id}}/{{@i}}" target="_blank">Week {{@i}}</a></th>
</loop>
<th>Balance</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<repeat group="{{ @subdetails }}" value="{{ @item }}">
<tr>
<td><b>{{@item['membername']}}</b></td>
<td>{{ @item['payment_type']=='directdebit'?'Direct Debit':'PAYG / Cash'}}</td>

<loop from="{{ @i=1 }}" to="{{ @i <= @sessionsnum }}" step="{{ @i++ }}">
<td>
  {{ @reportdetails[@item['member_id']][@i] }}
</td>
<td>
<check if="{{ @reportdetails[@item['member_id']][@i]==NULL }}">
<true>
<span style="color:#d43f3a;">&#10008;</span>
</true>
<false>
<span style="color:#468847;">&#10004;</span>
</false>
</check>
</td>
</loop>
<td>
  &euro; {{ number_format(@classdetails['cost']-@reportdetails[@item['member_id']]['balance'],2) }}
</td>

<td>
<check if="{{ @reportdetails[@item['member_id']]['details']==NULL }}">
<true>
</true>
<false>
<a href="#" data-toggle="modal" data-target="#infomodal" data-info="{{ @reportdetails[@item['member_id']]['details']}}"><i class="fa fa-commenting-o" aria-hidden="true"></i> Notes</a>
</false>
</check>
</td>

</tr>
</repeat>
</tbody>
<thead>
<tr>
<th></th>
<th></th>
<loop from="{{ @i=1 }}" to="{{ @i <= @sessionsnum }}" step="{{ @i++ }}">
<th colspan="2">{{number_format(@classtotals[@i],2)}}</th>
</loop>
<th></th>
<th></th>
</tr>
</thead>
</table>
<include href="infomodal.html" />
<include href="footer.html" />
