<include href="header.html" with="submenu=adduser"/>
<h1><i class="fa fa-users" aria-hidden="true"></i> User Manager</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th class="hidden-xs">Name</th>
        <th class="hidden-xs">Email</th>
        <th class="hidden-xs">Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

<repeat group="{{ @users }}" value="{{ @item }}">
      <tr>
      <td><a href="{{@BASE}}/user/edit/{{ @item['id'] }}"><i class="fa fa-pencil" aria-hidden="true"></i>
 {{ trim(@item['username']) }}</a></td>
        <td class="hidden-xs">{{ trim(@item['firstname']) }} {{ trim(@item['lastname']) }}</td>
        <td class="hidden-xs">{{ trim(@item['email']) }}</td>
        <td class="hidden-xs">{{ ucwords(@item['role']) }}</td>
        <td class="text-right">
<a href="#" data-toggle="modal" data-target="#userdel" data-userid="{{ @item['id'] }}" data-userfriendly="{{ trim(@item['firstname']) }} {{ trim(@item['lastname']) }}"><i class="fa fa-trash-o" aria-hidden="true"></i>
 Remove</a>
 </td>
      </tr>

</repeat>


    </tbody>
  </table>

<include href="modal.html" />
<include href="footer.html" />
