<include href="header.html" />
<h1><i class="fa fa-address-card" aria-hidden="true"></i> Edit Subscriber</h1>

{{ @POST.status=='inactive'?'<div class="alert alert-warning alert-dismissible" role="alert"><b>Please Note:</b> You are editing a user that is flagged as an inactive member</div>
':'' }}

<form action="{{@BASE}}/subscribers/edit/{{ @POST.id }}" method="POST" class="form-group" name="memberedit">
<div class="col-md-4">
<h2><i class="fa fa-address-book" aria-hidden="true"></i> Personal Details</h2>
	<div class="form-group">
	<label>Firstname</label>
	<input name="firstname" value="{{ @POST.firstname }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Lastname</label>
	<input name="lastname" value="{{ @POST.lastname }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Email</label>
	<input name="email" value="{{ @POST.email }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Address</label>
	<input name="address1" value="{{ @POST.address1 }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Address cont.</label>
	<input name="address2" value="{{ @POST.address2 }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Town/City</label>
	<input name="city" value="{{ @POST.city }}" class="form-control">
	</div>

	<div class="form-group">
	<label>County</label>
	<input name="county" value="{{ @POST.county }}" class="form-control">
	</div>


	<div class="form-group">
	<label>Mobile</label>
	<input name="mobile" value="{{ @POST.mobile }}" class="form-control">
	</div>

	<div class="form-group">
	<label>I am</label><select name="iam" class="form-control">
	<repeat group="{{ @memberStatusList }}" value="{{ @item }}">
	<option value="{{ trim(@item['key']) }}" {{ @item['key'] == @POST.iam?'selected="selected"':'' }}>{{ @item['value'] }}</option>
	</repeat>
	</select>
	</div>

		<div class="form-group">
	<label>Newsletter</label><select name="newsletter" class="form-control">
	<option value="Y" {{ @POST.newsletter=='Y'?'selected="selected"':'' }}>Yes</option>
	<option value="N" {{ @POST.newsletter=='N'?'selected="selected"':'' }}>No</option>
	</select>
	</div>

</div>

<div class="form-group col-md-12">	<input type="submit" value="Update Subscriber" class="btn btn-default btn-custom"></div>
</form>

<script type="text/javascript">
var validator = new FormValidator('memberedit', [
{
name: 'firstname',
display: 'First Name',
rules: 'required'},
{
name: 'lastname',
display: 'Last Name',
rules: 'required'},
{
name:'newsletter',
display: 'Newsletter',
rules: 'required'}
],
function(errors, event) {
    if (errors.length > 0) {
        var message='';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            message+=errors[i].message + '<br>';
        }

        errormodal(message);
    }
});
</script>
<include href="errormodal.html" />

<include href="modal.html" />
<include href="footer.html" />
