<include href="header.html" with="submenu=addsubscriber">

<h1><i class="fa fa-newspaper-o" aria-hidden="true"></i> Subscription Manager</h1>

<div  id="memberslist">
<!-- class="search" automagically makes an input a search field. -->
<div class="input-group col-md-3">
  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
  <input class="search form-control" placeholder="Search by name" />
</div>
<br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th class="hidden-xs">Email</th>
        <th class="hidden-xs">Phone</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class="list">

<repeat group="{{ @subs }}" value="{{ @item }}">
      <tr>
      <td><a href="{{@BASE}}/subscribers/edit/{{ @item['id'] }}"><i class="fa fa-pencil" aria-hidden="true"></i>
 <span class="name">{{ trim(@item['firstname']) }} {{ trim(@item['lastname']) }}</span></a></td>
        <td class="hidden-xs">{{ trim(@item['email']) }}</td>
        <td class="hidden-xs">{{ trim(@item['mobile']) }}</td>
        <td>
          <check if="{{ @item['newsletter']=='Y' }}">
            <true>
                  <i class="fa fa-envelope" aria-hidden="true"></i> Subscribed
            </true>
            <false>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i> Unsubscribed
            </false>
          </check>
        </td>
      </tr>
</repeat>

    </tbody>
  </table>
</div>

<script type="text/javascript">
var options = {
  valueNames: [ 'name' ]
};

var userList = new List('memberslist', options);
</script>

<include href="footer.html" />