<include href="header.html" />
<h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Add a new Class</h1>

	<form action="{{@BASE}}/class/add" method="POST" name="classadd">
	<div class="form-group col-md-4">

	<div class="form-group">
	<label>Name</label>
	<input type="text" class="form-control" id="name" name="name" placeholder="Class Description">
	</div>

	<div class="form-group">
	<label>Location</label>
	<input type="text" class="form-control" id="location" name="location" placeholder="Location">
	</div>

	<div class="form-group">

	<label>Start Date</label>
	<div class="input-group">
	<input name="date" value="{{date('d/m/Y')}}" class="form-control datepicker" data-date-format="dd/mm/yyyy">
	<span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
	</div>
	</div>

	<div class="form-group">
	<label>Cost</label>
	<div class="input-group">
	<div class="input-group-addon">&euro;</div>
	<input class="form-control" id="cost" name="cost" value="">
	</div>
	</div>

	<div class="form-group">
	<label>Class Type</label>
	<select class="form-control" id="type" name="type" value="fixed">
	<option disabled selected value="">Please Select</option>
	<option value="ongoing">Ongoing</option>
	<option value="fixed">Fixed</option>
	</select>
	</div>

	<div class="form-group">
	<label>Sessions</label>
	<input type="number" min="1" step="1" class="form-control" id="session" name="session" placeholder="Number of sessions">
	</div>

	<div class="form-group">
	<label>Instructor</label>
	<select class="form-control" id="instructor" name="instructor">
		<repeat group="{{ @instructors }}" value="{{ @item }}">
			<option value="{{ trim(@item['id']) }}">{{ @item['username'] }}</option>
		</repeat>
	</select>
	</div>

	<div class="form-group">
	<label>Information</label>
	<textarea id="information" placeholder="Information" name="information" class="form-control"></textarea>
	</div>

	<div class="form-group">
	<input type="submit" value="Add Class" class="btn btn-default btn-custom">
	</div>
	</div>
</form>
<script type="text/javascript">
var validator = new FormValidator('classadd', [
{
name: 'name',
display: 'Name',
rules: 'required'},
{
name: 'location',
display: 'Location',
rules: 'required'},
{
name: 'cost',
display: 'Cost',
rules: 'required'},
{
name: 'type',
display: 'Class type',
rules: 'required'}
],
function(errors, event) {
    if (errors.length > 0) {
        var message='';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            message+=errors[i].message + '<br>';
        }

        errormodal(message);
    }
});
</script>
<include href="errormodal.html" />
<include href="footer.html" />
