<include href="header.html" />
<h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Edit Class
</h1>
	
	<div class="form-group col-md-4">
	<h2><i class="fa fa-info-circle" aria-hidden="true"></i> Class Details</h2>
	<form action="{{@BASE}}/class/edit/{{ @POST.id }}" method="POST" name="classedit">
	<div class="form-group">
	<label>Name</label>
	<input class="form-control" id="name" name="name" value="{{ @POST.name }}">
	</div>

	<div class="form-group">
	<label>Location</label>
	<input class="form-control" id="location" name="location" value="{{ @POST.location }}">
	</div>

	<div class="form-group">
	<label>Start Date</label>
	<div class="input-group">
	<input name="date" value="{{ date_format(date_create(@POST.date),'d/m/Y') }}" class="form-control datepicker"  data-date-format="dd/mm/yyyy">
	<span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
	</div>
	</div>

	<div class="form-group">
	<label>Cost</label>
	<div class="input-group">
	<div class="input-group-addon">&euro;</div>
	<input class="form-control" id="cost" name="cost" value="{{ @POST.cost }}">
	</div>
	</div>

	<div class="form-group">
	<label>Class Type</label>
	<select class="form-control" id="type" name="type" value="{{ @POST.type }}">
	<option value="ongoing" {{ @POST.type=='ongoing'?'selected="selected"':'' }}>Ongoing</option>
	<option value="fixed" {{ @POST.type=='fixed'?'selected="selected"':'' }}>Fixed</option>
	</select>
	</div>

	<div class="form-group">
	<label>Sessions</label>
	<input type="number" min="1" step="1" class="form-control" id="sessions" name="sessions"  value="{{ @POST.sessions }}" placeholder="Number of sessions" {{ @POST.type=='ongoing'?'disabled':'' }}>
	</div>

	<div class="form-group">
	<label>Instructor</label>
	<select class="form-control" id="instructor" name="instructor">
		<repeat group="{{ @instructors }}" value="{{ @item }}">
			<option value="{{ trim(@item['id']) }}" {{ @item['id'] == @POST.instructor?'selected="selected"':'' }}>{{ @item['username'] }}</option>
		</repeat>
	</select>
	</div>

	<div class="form-group">
	<label>Information</label>
	<textarea id="information" name="information" class="form-control" rows="8">{{ @POST.information }}</textarea>
	</div>
	<div class="form-group">
	<input type="submit" value="Edit Class" class="btn btn-default btn-custom">
	</div>
	</form>
	</div>

	<div class="form-group col-md-4">
	<h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Enrolled Members</h2>
	<label>Members Details</label>
	<ul class="list-group">
	<repeat group="{{ @classsubs }}" value="{{ @sub }}">
    <li class="list-group-item">
<span class="label label-park">
	<check if="{{@sub['payment_type']=='payg'}}">
		<true>
		Cash
		</true>
	    <false>
	    Debit
	    </false>
    </check>
</span> 
    {{ trim(@sub['name'])}}
    <span class="pull-right">
<a href="#" data-toggle="modal" data-target="#classsub" data-classid="{{@POST.id}}" data-subid="{{ @sub['id'] }}" data-membername="{{ @sub['name'] }}"><i class="fa fa-times" aria-hidden="true"></i> Remove</a>
	</span>
    </li>
	</repeat>
	</ul>

	<p>There are {{@subqty}} members enrolled in this class.</p>
	<p><a href="{{@BASE}}/class/export/{{ @POST.id }}"><i class="fa fa-download" aria-hidden="true"></i> Download Report</a></p>
	</div>

	<div class="form-group col-md-4">
	<h2><i class="fa fa-user-plus" aria-hidden="true"></i> Enroll a new member</h2>
	
	<form action="{{@BASE}}/subscription/add" method="POST" name="classsub">
	<input type="hidden" name="class_id" value="{{ @POST.id }}">
	<div class="form-group">
	<label>Members Name</label>
	<select name="member_id" id="member_id" class="form-control">
	<option disabled="" selected="" value="">Please Select</option>
	<repeat group="{{ @activemembers }}" value="{{ @member }}">
	<check if="{{@member['class_id']==@POST.id}}">
	    <false>
		    <option value="{{@member['id']}}">
		    {{ @member['name']}}
		    </option>
	    </false>
    </check>
	</repeat>
	</select>
	</div>

	<div class="form-group">
	<label>Payment Type</label>
	<select class="form-control" id="payment_type" name="payment_type">
	<option disabled="" selected="" value="">Please Select</option>
	<option value="directdebit">Direct Debit</option>
	<option value="payg">Pay as you go</option>
	</select>
	</div>

	<div class="form-group">
	<input type="submit" value="Enroll Member" class="btn btn-default btn-custom">
	</div>
	</form>

	</div>

<script type="text/javascript">
var validator = new FormValidator('classedit', [
{
name: 'name',
display: 'Name',
rules: 'required'},
{
name: 'location',
display: 'Location',
rules: 'required'},
{
name: 'cost',
display: 'Cost',
rules: 'required'},
{
name: 'type',
display: 'Class type',
rules: 'required'}
],
function(errors, event) {
    if (errors.length > 0) {
        var message='';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            message+=errors[i].message + '<br>';
        }

        errormodal(message);
    }
});

var validator = new FormValidator('classsub', [
{
name: 'member_id',
display: 'Member Name',
rules: 'required'},
{
name: 'payment_type',
display: 'Payment Type',
rules: 'required'}
],
function(errors, event) {
    if (errors.length > 0) {
        var message='';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            message+=errors[i].message + '<br>';
        }

        errormodal(message);
    }
});
</script>
<include href="errormodal.html" />
<include href="modal.html" />
<include href="footer.html" />
