<include href="header.html" />
<h1><i class="fa fa-address-card" aria-hidden="true"></i> Add member</h1>

<form action="{{@BASE}}/member/add" method="POST" class="form-group col-md-12" name="memberadd">

<div class="col-md-4">
<h2><i class="fa fa-address-book" aria-hidden="true"></i> Personal Details</h2>

	<div class="form-group">
	<label>Firstname</label> 
	<input name="firstname" value="" class="form-control" placeholder="First Name">
	</div>

	<div class="form-group">
	<label>Lastname</label>
	<input name="lastname" value="" class="form-control" placeholder="Last Name">
	</div>

	<div class="form-group">
	<label>Email</label>
	<input name="email" value="" class="form-control" placeholder="email@address.com">
	</div>

	<div class="form-group">
	<label>Address</label>
	<input name="address1" value="" class="form-control" placeholder="Address Line 1">
	</div>

	<div class="form-group">
	<label>Address cont.</label>
	<input name="address2" value="" class="form-control" placeholder="Address Line 2">
	</div>

	<div class="form-group">
	<label>Town/City</label>
	<input name="city" value="" class="form-control" placeholder="Town/City">
	</div>

	<div class="form-group">
	<label>County</label>
	<input name="county" value="" class="form-control" placeholder="County">
	</div>

	<div class="form-group">
	<label>Date of birth</label>
	<div class="input-group">
	<input name="dob" placeholder="01/01/1960" class="form-control datepicker"  data-date-format="dd/mm/yyyy">
	<span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
	</div>
	</div>

	<div class="form-group">
	<label>Mobile</label>
	<input name="mobile" value="" class="form-control" placeholder="35386123456789">
	</div>

	<div class="form-group">
	<label>Landline</label>
	<input name="landline" value="" class="form-control" placeholder="01123456789">
	</div>

	<div class="form-group">
	<label>Gender</label>
	<select name="gender" class="form-control">
		<option selected disabled>Please Select</option>
		<option value="M">Male</option>
		<option value="F">Female</option>
		</select>
	</div>

</div>

<div class="col-md-4">
<h2><i class="fa fa-address-card" aria-hidden="true"></i> Membership Details</h2>
<div class="form-group">
	<label>Membership ID</label>
	<input name="membership" value="" class="form-control">
	</div>

	<div class="form-group">
	<label>I am</label>
	<select name="iam" class="form-control">
			<option selected disabled>Please Select</option>
		<repeat group="{{ @memberStatusList }}" value="{{ @item }}">
			<option value="{{ trim(@item['key']) }}">{{ @item['value'] }}</option>
		</repeat>
	</select>
	</div>

	<div class="form-group">
	<label>Join Date</label>
	<div class="input-group">
	<input name="joindate" value="{{ date('d/m/Y') }}" class="form-control datepicker"  data-date-format="dd/mm/yyyy">
	<span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
	</div>
	</div>

	<div class="form-group">
	<label>Centre Location</label>
	<input name="centrelocation" value="" class="form-control">
	</div>

	<div class="form-group">
	<label>Newsletter</label>
	<select name="newsletter" class="form-control">
	<option selected disabled>Please Select</option>
			<option value="Y">Yes</option>
			<option value="N">No</option>
	</select>
	</div>

	<div class="form-group">
	<label>Notes</label>
	<textarea name="notes" class="form-control" rows="8" placeholder="Further details.."></textarea>
	</div>
</div>

<div class="col-md-4">
<h2><i class="fa fa-ambulance" aria-hidden="true"></i> Emergency Contact</h2>
	<div class="form-group">
	<label>Name</label>
	<input name="icename" value="" class="form-control" placeholder="Contact Name">
	</div>

	<div class="form-group">
	<label>Mobile</label>
	<input name="icemobile" value="" class="form-control" placeholder="35386123456789">
	</div>

	<div class="form-group">
	<label>Landline</label>
	<input name="icelandline" value="" class="form-control" placeholder="01123456789">
	</div>

</div>

<div class="col-md-12">
<input type="submit" value="Add New Member" class="btn btn-default btn-custom">
</div>
</form>
<script type="text/javascript">
var validator = new FormValidator('memberadd', [
{
name: 'firstname',
display: 'First Name',
rules: 'required'},
{
name: 'lastname',
display: 'Last Name',
rules: 'required'},
{
name:'address1',
display: '',
rules: 'required'},
{
name:'county',
display: 'County',
rules: 'required'},
{
name:'gender',
display: 'Gender',
rules: 'required'},
{
name:'newsletter',
display: 'Newsletter',
rules: 'required'}
],
function(errors, event) {
    if (errors.length > 0) {
        var message='';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            message+=errors[i].message + '<br>';
        }

        errormodal(message);
    }
});
</script>
<include href="errormodal.html" />
<include href="footer.html" />
