<include href="header.html" />
<h1><i class="fa fa-address-card" aria-hidden="true"></i> Edit member</h1>

{{ @POST.status=='inactive'?'<div class="alert alert-warning alert-dismissible" role="alert"><b>Please Note:</b> You are editing a user that is flagged as an inactive member</div>
':'' }}

<form action="{{@BASE}}/member/edit/{{ @POST.id }}" method="POST" class="form-group" name="memberedit">
<div class="col-md-4">
<h2><i class="fa fa-address-book" aria-hidden="true"></i> Personal Details</h2>
	<div class="form-group">
	<label>Firstname</label>
	<input name="firstname" value="{{ @POST.firstname }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Lastname</label>
	<input name="lastname" value="{{ @POST.lastname }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Email</label>
	<input name="email" value="{{ @POST.email }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Address</label>
	<input name="address1" value="{{ @POST.address1 }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Address cont.</label>
	<input name="address2" value="{{ @POST.address2 }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Town/City</label>
	<input name="city" value="{{ @POST.city }}" class="form-control">
	</div>

	<div class="form-group">
	<label>County</label>
	<input name="county" value="{{ @POST.county }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Date of birth</label>
	<div class="input-group">
	<input name="dob" value="{{ @POST.dob=='0000-00-00'? '' : date_format(date_create(@POST.dob),'d/m/Y') }}" class="form-control datepicker"  data-date-format="dd/mm/yyyy" placeholder="Unknown">
	<span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
	</div>
	</div>

	<div class="form-group">
	<label>Mobile</label>
	<input name="mobile" value="{{ @POST.mobile }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Landline</label>
	<input name="landline" value="{{ @POST.landline }}" class="form-control">
	</div>

	<div class="form-group">
	<label>Gender</label><select name="gender" class="form-control">
	<option value="M" {{ @POST.gender=='M'?'selected="selected"':'' }}>Male</option>
	<option value="F" {{ @POST.gender=='F'?'selected="selected"':'' }}>Female</option>
	</select>
	</div>

</div>

<div class="col-md-4">
<h2><i class="fa fa-address-card" aria-hidden="true"></i> Membership Details</h2>

	<div class="form-group">
	<label>Membership ID</label>
	<input name="membership" value="{{ @POST.membership }}" class="form-control">
	</div>

	<div class="form-group">
	<label>I am</label><select name="iam" class="form-control">
	<repeat group="{{ @memberStatusList }}" value="{{ @item }}">
	<option value="{{ trim(@item['key']) }}" {{ @item['key'] == @POST.iam?'selected="selected"':'' }}>{{ @item['value'] }}</option>
	</repeat>
	</select>
	</div>

	<div class="form-group">
	<label>Age Bracket</label>
	<input name="agebracket" value="{{ @agebracket }}" class="form-control" readonly="1">
	</div>

	<div class="form-group">
	<label>Join Date</label>
	<div class="input-group">
	<input name="joindate" value="{{ @POST.joindate=='0000-00-00'? '': date_format(date_create(@POST.joindate),'d/m/Y') }}" class="form-control datepicker"  data-date-format="dd/mm/yyyy" placeholder="Unknown">
	<span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
	</div>
	</div>

	<div class="form-group">
	<label>Centre Location</label>
	<input name="centrelocation" value="{{ @POST.centrelocation }}" class="form-control">
	</div>


	<div class="form-group">
	<label>Newsletter</label><select name="newsletter" class="form-control">
	<option value="Y" {{ @POST.newsletter=='Y'?'selected="selected"':'' }}>Yes</option>
	<option value="N" {{ @POST.newsletter=='N'?'selected="selected"':'' }}>No</option>
	</select>
	</div>

	<div class="form-group">
	<label>Notes</label>
	<textarea name="notes" class="form-control" rows="8" placeholder="Further details..">{{ @POST.notes }}</textarea>
	</div>

</div>




<div class="col-md-4">
<h2><i class="fa fa-ambulance" aria-hidden="true"></i> Emergency Contact</h2>
<div class="form-group">
<label>Name</label>
<input name="icename" value="{{ @POST.icename }}" class="form-control">
</div>

<div class="form-group">
<label>Mobile</label>
<input name="icemobile" value="{{ @POST.icemobile }}" class="form-control">
</div>

<div class="form-group">
<label>Landline</label>
<input name="icelandline" value="{{ @POST.icelandline }}" class="form-control">
</div>

<br>
<h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Enrolled Classes</h2>
<ul class="list-group">
<repeat group="{{ @subdetails }}" value="{{ @sub }}">
    <li class="list-group-item">{{ trim(@sub['name'])}}

    <span class="pull-right">
<a href="#" data-toggle="modal" data-target="#memberssub" data-classname="{{@sub['name']}}" data-classid="{{@sub['class_id']}}" data-subid="{{ @sub['id'] }}" data-membername="{{ @POST.firstname.' '.@POST.lastname }}" data-memberid="{{@POST.id}}"><i class="fa fa-times" aria-hidden="true"></i> Remove</a>
	</span>

	</li>
</repeat>
</ul>

</div>

<div class="form-group col-md-12">	<input type="submit" value="Update Member" class="btn btn-default btn-custom"></div>
</form>

<script type="text/javascript">
var validator = new FormValidator('memberedit', [
{
name: 'firstname',
display: 'First Name',
rules: 'required'},
{
name: 'lastname',
display: 'Last Name',
rules: 'required'},
{
name:'address1',
display: '',
rules: 'required'},
{
name:'county',
display: 'County',
rules: 'required'},
{
name:'gender',
display: 'Gender',
rules: 'required'},
{
name:'newsletter',
display: 'Newsletter',
rules: 'required'}
],
function(errors, event) {
    if (errors.length > 0) {
        var message='';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            message+=errors[i].message + '<br>';
        }

        errormodal(message);
    }
});
</script>
<include href="errormodal.html" />

<include href="modal.html" />
<include href="footer.html" />
