<include href="header.html" with="submenu=addmember">

<h1><i class="fa fa-address-book" aria-hidden="true"></i> Membership Manager</h1>

<div  id="memberslist">
<!-- class="search" automagically makes an input a search field. -->
<div class="input-group col-md-3">
  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
  <input class="search form-control" placeholder="Search by name" />
</div>
<br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th class="hidden-xs">Email</th>
        <th class="hidden-xs">Phone</th>
        <th class="hidden-xs">Membership #</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class="list">

<repeat group="{{ @active }}" value="{{ @item }}">
      <tr>
      <td><a href="{{@BASE}}/member/edit/{{ @item['id'] }}"><i class="fa fa-pencil" aria-hidden="true"></i>
 <span class="name">{{ trim(@item['firstname']) }} {{ trim(@item['lastname']) }}</span></a></td>
        <td class="hidden-xs">{{ trim(@item['email']) }}</td>
        <td class="hidden-xs">{{ trim(@item['mobile']) }}</td>
        <td class="hidden-xs">{{ trim(@item['membership']) }}</td>
        <td>
          <check if="{{ @item['status']==active }}">
            <true>
                  <a href="{{@BASE}}/member/status/{{ @item['id'] }}"><i class="fa fa-address-card" aria-hidden="true"></i> Active</a>
            </true>
            <false>
                  <a href="{{@BASE}}/member/status/{{ @item['id'] }}"><i class="fa fa-address-card-o" aria-hidden="true"></i> Inactive</a>
            </false>
          </check>
        </td>
      </tr>
</repeat>

<repeat group="{{ @inactive }}" value="{{ @item }}">
      <tr>
      <td><a href="{{@BASE}}/member/edit/{{ @item['id'] }}"><i class="fa fa-pencil" aria-hidden="true"></i>
 <span class="name">{{ trim(@item['firstname']) }} {{ trim(@item['lastname']) }}</span></a></td>
        <td class="hidden-xs">{{ trim(@item['email']) }}</td>
        <td class="hidden-xs">{{ trim(@item['mobile']) }}</td>
        <td class="hidden-xs">{{ trim(@item['membership']) }}</td>
        <td>
          <check if="{{ @item['status']==active }}">
            <true>
                  <a href="{{@BASE}}/member/status/{{ @item['id'] }}"><i class="fa fa-address-card" aria-hidden="true"></i> Active</a>
            </true>
            <false>
                  <a href="{{@BASE}}/member/status/{{ @item['id'] }}"><i class="fa fa-address-card-o" aria-hidden="true"></i> Inactive</a>
            </false>
          </check>
        </td>
      </tr>
</repeat>
    </tbody>
  </table>
</div>

<script type="text/javascript">
var options = {
  valueNames: [ 'name' ]
};

var userList = new List('memberslist', options);
</script>

<include href="footer.html" />