<include href="header.html" />
<h1>List of subscriptions</h1>
<repeat group="{{ @subscriptions }}" value="{{ @item }}">
{{ trim(@item['mfirstname']) }} {{ trim(@item['mlastname']) }} attending {{ trim(@item['cname']) }} | <a href="{{@BASE}}/subscription/delete/{{ @item['id'] }}">x</a><br>
</repeat>
<include href="footer.html" />
