<div class="modal fade" id="payg" tabindex="-1" role="dialog" aria-labelledby="payg">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="payg modal">Checking in <span id="membername">Membername</span></h4>
      </div>
      <form action="{{@BASE}}/attendance" method="POST">
      <div class="modal-body">

      <input type="hidden" id="class_id" name="class_id" value="">
      <input type="hidden" id="week" name="week" value="">
      <input type="hidden" id="date" name="date" value="">
      <input type="hidden" id="member_id" name="member_id" value="">
      <input type="hidden" id="classtype" name="classtype" value="">
      <input type="hidden" id="payment_type" name="payment_type" value="">
      <div id="paymenttypeinfo" class="row text-center checkinpayinfo">
      </div>
      <div class="row text-center checkininfo">
      <div class="col-xs-6"><b>Total Paid</b><br> <span class="highlight">&euro; <span id="totalpaid"></span></span></div>
      <div class="col-xs-6"><b>Balance</b><br> <span class="highlight">&euro; <span id="balance"></span></span></div>
      </div>

      <br>
      <div class="form-group">
      <label>Payment Amount</label>
      <div class="input-group">
      <div class="input-group-addon">€</div>
      <input type="number" name="payment_amt" min="0" step="any" class="form-control">
      </div>
      </div>

      <div class="form-group">
      <label>Notes</label>
      <textarea name="payment_details" class="form-control"></textarea>
      </div>

      </div>
      <div class="modal-footer">
        <input type="submit" value="Check In" class="btn btn-primary btn-custom rembutton">
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="checkinremove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Checkout User?</h4>
      </div>
      <div class="modal-body">
Are you sure you want to remove this checkin?
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-custom rembutton">Remove Record</a>
      </div>
    </div>
  </div>
</div>