<div class="modal fade" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Error</h4>
      </div>
      <div class="modal-body">
Error Message here.
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

var errormodal=function(message){
        var modal = $('#errormodal');
        modal.find('.modal-body').html(message);
        $('#errormodal').modal('show');
};

</script>