</div>
<div class="footer">
<ul id="" class="navbar-footer">
<li id="" class=""><a href="{{@BASE}}/">Home</a></li>
<li id="" class=""><a href="{{@BASE}}/users">Users</a></li>
<li id="" class=""><a href="{{@BASE}}/members">Members</a></li>
<li id="" class=""><a href="{{@BASE}}/classes">Classes</a></li>
<li id="" class=""><a href="{{@BASE}}/attendance">Attendance</a></li>
<li id="" class=""><a href="{{@BASE}}/reports">Reports</a></li>
</ul> 
<span class="copy">Copyright &copy; {{date(Y)}} Move 4 Parkinsons</span>
</div>
<!-- Bootstrap core JavaScript-->
<script src="{{@BASE}}/js/jquery.min.js"></script>
<script src="{{@BASE}}/js/bootstrap.min.js"></script>
<script type="text/javascript">
document.getElementById("{{@activenav}}").className = "active";

$('#classsub').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var classid = button.data('classid') 
  var subid = button.data('subid')
  var memberid = button.data('memberid')
  var membername = button.data('membername')
  var modal = $(this)
  modal.find('.modal-body').html('Are you sure you wish to unsubscribe <b>' + membername +'</b> from this class?')
  modal.find('.rembutton').attr('href','{{@BASE}}/subscription/delete/'+ classid +'/'+ subid);
});

$('#userdel').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var userid = button.data('userid') 
  var userfriendly = button.data('userfriendly')
  var modal = $(this)
  modal.find('.modal-body').html('Are you sure you wish to delete the user <b>' + userfriendly +'</b>?<br><b>This action cannot be undone.</b>')
  modal.find('.rembutton').attr('href','{{@BASE}}/user/delete/'+ userid);
});

$('#memberssub').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var classid = button.data('classid') 
  var subid = button.data('subid')
  var memberid = button.data('memberid')
  var classname = button.data('classname')
  var membername = button.data('membername')
  var modal = $(this)
  modal.find('.modal-body').html('Are you sure you wish to unsubscribe <b>' + membername +'</b> from <b>'+classname+'</b>?')
  modal.find('.rembutton').attr('href','{{@BASE}}/subscription/delete/'+ classid +'/'+ subid +'/'+ memberid);
});

$('#payg').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 

  var classid=button.data('classid');
  var week=button.data('week');
  var date=button.data('date');
  var membername=button.data('membername');
  var memberid=button.data('memberid');
  var totalpaid=button.data('totalpaid');
  var balance=button.data('balance');
  var classtype=button.data('classtype');
  var paymenttype=button.data('payment_type');
  var presentation=button.data('paymentpresentation');

  var modal = $(this)

  modal.find('#membername').html(membername);
  modal.find('#totalpaid').html(totalpaid);
  modal.find('#balance').html(balance);
  modal.find('#class_id').val(classid);
  modal.find('#week').val(week);
  modal.find('#date').val(date);
  modal.find('#member_id').val(memberid);
  modal.find('#classtype').val(classtype);
  modal.find('#paymenttypeinfo').html(presentation);
  modal.find('#payment_type').val(paymenttype);

});

$('#checkinremove').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var classid = button.data('classid') 
  var week = button.data('week') 
  var date = button.data('date') 
  var id = button.data('id')
  var amt = button.data('amt')

  var classname = button.data('classname')
  var classtype = button.data('classtype')
  var membername = button.data('membername')
  var modal = $(this)
  modal.find('.modal-body').html('Are you sure you wish to remove <b>' + membername +'</b> and the amount of <b>&euro; '+amt+'</b>?')
  modal.find('.rembutton').attr('href','{{@BASE}}/attendance/delete/'+ classtype +'/'+ classid +'/'+ week +date +'/'+ id);

});


$('#infomodal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var info = button.data('info') 
var modal = $(this)
  modal.find('.modal-body').html(info)
});

</script>
<check if="{{ @calendar=='active' }}">
<true>
<!-- Bootstrap Date Picker -->
<script src="{{@BASE}}/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
$('.datepicker').datepicker();
</script>
</true>
</check>
</body>
</html>
