<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico">

<title>{{@title}}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{@BASE}}/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<link href="{{@BASE}}/css/style.min.css" rel="stylesheet">
<!-- Fontawesome Icons -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<!--<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">-->
</head>
<body>
<!-- Begin page content -->
<div id="main" class="container" style="margin-top: 20px;">